<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false"
      throwExceptions="false"
      throwConfigExceptions="false"
      internalLogLevel="Off">

    <variable name="logDirectory" value="${basedir}/logs" />

    <targets>
        <target name="logConsole"
                xsi:type="Console"
                layout="[${date:format=HH\:mm\:ss}] (${level:uppercase=true:padding=5}) ${logger:shortName=true} -> ${message}" />

        <target name="logFile"
                xsi:type="File"
                fileName="${logDirectory}/main.log"
                layout="[${longdate}] (${level:uppercase=true:padding=5}) ${logger:shortName=true} -> ${message} ${exception:format=ToString}"
                archiveFileName="${logDirectory}/archives/main_{###}.log"
                archiveAboveSize="10485760"
                archiveNumbering="Sequence"
                maxArchiveFiles="999" />

        <target name="devLogFile"
                xsi:type="File"
                fileName="${logDirectory}/dev.log"
                layout="[${longdate}] (${level:uppercase=true:padding=5}) ${logger} -> ${message} ${exception:format=ToString}"
                archiveFileName="${logDirectory}/archives/dev_{###}.log"
                archiveAboveSize="10485760"
                archiveNumbering="Sequence"
                maxArchiveFiles="999" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="logConsole" />
        <logger name="*" minlevel="Trace" writeTo="logFile" />
        <logger name="*" minlevel="Trace" writeTo="devLogFile" enabled="true" />
    </rules>

</nlog>